* 
    box-sizing: border-box
    margin: 0
    padding: 0

html, body
    font-size: 62.5% //сброс размера штрифта с 16px до 10px, для удобства работы с единицей rem
    font-family: 'Open Sans', sans-serif
    font-weight: 400

img 
    width: 100%
    height: 100%
    object-fit: contain
    flex-shrink: 0

button, input
    outline: none
    border-radius: 0.3rem
    font-size: 2rem
    line-height: 3rem

button
    border: none
    font-size: 2rem
    font-weight: 700
    background-color: $primary
    color: $light
    cursor: pointer
    transition: 0.2s
    &:hover
        background-color: $buttonHover

input
    background-color: rgba($primary, 0.03)
    border: 0.1rem solid $gray
    padding-left: 2.3rem
    margin: 0 0 1.5rem 0
    &::placeholder
        font-size: 1.5rem
        color: $darkSecond


h1, h2, h3, h4, h5, h6 
    margin: 0
    padding: 0
    text-transform: uppercase
    font-family: 'Oswald', sans-serif
    font-weight: 700
    color: $dark

p, a
    font-size: 1.5rem

.container
    width: 120rem
    margin: 0 auto

.logo
    width: 20.4rem
    height: 4.1rem

.form
    display: flex
    flex-direction: column
    align-items: center
    width: 50rem
    padding: 4.15rem 4.8rem
    background-color: $light
    border-radius: 0.3rem
    z-index: 5
    & > h3
        font-weight: 700
        font-size: 20px
        line-height: 30px
        margin-bottom: 1.5rem
    & > input
        width: 37.8rem
        height: 6rem
    & > button
        margin: 1.5rem 0
        width: 37.8rem
        height: 6rem
    & > a
        color: $darkSecond

.section
    &-title
        font-size: 3.4rem
        line-height: 5rem
        padding-left: 2rem
        position: relative
        &::before
            content: ''
            position: absolute
            width: 0.6rem
            height: 3.4rem
            top: 50%                    
            left: 0
            transform: translate(0, -50%) 
            background-color: $primary            