* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  flex-shrink: 0;
}

button, input {
  outline: none;
  border-radius: 0.3rem;
  font-size: 2rem;
  line-height: 3rem;
}

button {
  border: none;
  font-size: 2rem;
  font-weight: 700;
  background-color: #219653;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  background-color: #46C97E;
}

input {
  background-color: rgba(33, 150, 83, 0.03);
  border: 0.1rem solid #E9E9E9;
  padding-left: 2.3rem;
  margin: 0 0 1.5rem 0;
}
input::-moz-placeholder {
  font-size: 1.5rem;
  color: #333333;
}
input::placeholder {
  font-size: 1.5rem;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

p, a {
  font-size: 1.5rem;
}

ul, li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 4rem;
}

.logo {
  width: 20.4rem;
  height: 4.1rem;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 48rem;
  padding: 4.15rem 4.8rem;
  background-color: #FFFFFF;
  border-radius: 0.3rem;
  z-index: 5;
}
.form > h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 3rem;
}
.form > input {
  width: 100%;
  height: 6rem;
}
.form > button {
  margin: 1.5rem 0;
  width: 100%;
  height: 6rem;
}
.form__work {
  background-color: #27AE60;
  margin-left: 1.8rem;
  padding: 6.7rem 5.95rem 3.36rem 5.95rem;
}
.form__work > h3 {
  margin-bottom: 5.9rem;
  text-align: center;
}
.form__work > p {
  margin-bottom: 1.4rem;
  text-align: left;
}
.form__work > p:nth-child(3) {
  margin-bottom: 4rem;
}
.form__work > input {
  border: none;
  background-color: #219653;
  color: #FFFFFF;
  height: 7.2rem;
}
.form__work > input:nth-child(1) {
  margin-top: 3.6rem;
}
.form__work > input::-moz-placeholder {
  color: #FFFFFF;
}
.form__work > input::placeholder {
  color: #FFFFFF;
}
.form__work > button {
  height: 7.4rem;
  margin: 0;
}

.section-title {
  font-size: 3.4rem;
  line-height: 5rem;
  padding-left: 2rem;
  position: relative;
}
.section-title::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 3.4rem;
  top: 51.5%;
  left: 0;
  transform: translate(0, -50%);
  background-color: #219653;
}
.section-link {
  display: block;
  text-align: center;
  width: 100%;
  color: #333333;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@media (min-width: 535.98px) {
  .container {
    padding: 0 calc(50% - 21.25rem);
  }
}
@media (min-width: 767.98px) {
  .container {
    padding: 0 calc(50% - 28.8rem);
  }
}
@media (min-width: 991.98px) {
  .container {
    padding: 0 calc(50% - 38.4rem);
  }
}
@media (min-width: 1199.98px) {
  .container {
    padding: 0 calc(50% - 49.6rem);
  }
}
@media (min-width: 1439.98px) {
  .container {
    padding: 0 calc(50% - 60rem);
  }
}
.promo {
  background: url(../img/promo/bg.png) no-repeat center/cover;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.85rem;
  padding-bottom: 4.85rem;
}
.promo__block {
  z-index: 5;
}
.promo__block > h1 {
  font-size: 4.4rem;
  line-height: 6.5rem;
  color: #FFFFFF;
  width: 47rem;
}
.promo__block > p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  margin: 1.2rem 0 2rem 0;
}
.promo__block > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.4rem;
  height: 3.4rem;
  background-color: #219653;
  color: #FFFFFF;
  font-size: 2.2rem;
  line-height: 2.6rem;
  cursor: pointer;
}
.promo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.price {
  padding-top: 7.8rem;
  padding-bottom: 8.8rem;
}
.price__wrap {
  display: flex;
  flex-wrap: wrap;
}
.price__wrap > div {
  width: 38.3rem;
  border-radius: 0.3rem;
  margin-top: 5.6rem;
  background-color: rgba(33, 150, 83, 0.03);
  position: relative;
}
.price__wrap > div:not(:nth-child(3n)) {
  margin-right: 2.5rem;
}
.price__wrap > div > img {
  height: 31.3rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.price__wrap > div > p {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  color: #333333;
  margin: 3rem 0 4rem 0rem;
  padding-left: 2.5rem;
  position: relative;
}
.price__wrap > div > p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  top: 4.5rem;
  left: 0;
  background-color: #E9E9E9;
}
.price__wrap > div > span {
  display: block;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #000000;
  width: 11.5rem;
  margin-left: 2.5rem;
}
.price__wrap > div > span > span {
  display: block;
  color: #219653;
  margin-top: 1rem;
}
.price__wrap > div > button {
  width: 100%;
  height: 7rem;
  margin-top: 2.6rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.price__wrap > div::after {
  content: "?";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.7rem;
  height: 2.7rem;
  bottom: 13.5rem;
  right: 2.6rem;
  border-radius: 5rem;
  font-size: 2rem;
  background-color: rgba(145, 151, 147, 0.2);
  color: #219653;
  cursor: pointer;
}

.header {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  display: flex;
  justify-content: space-between;
}
.header__left, .header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
.header__left__menu {
  display: flex;
  align-items: center;
  position: relative;
}
.header__left__menu__nav {
  width: 3.8rem;
  height: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  cursor: pointer;
}
.header__left__menu__nav > span {
  display: block;
  width: 3.8rem;
  border: 0.1rem solid #219653;
  border-radius: 5rem;
}
.header__left__menu::after {
  content: "";
  position: absolute;
  width: 0.05rem;
  height: 4.1rem;
  top: -50%;
  left: -40%;
  background-color: rgba(0, 0, 0, 0.1);
}
.header__left__menu > p {
  color: #219653;
  margin-left: 2rem;
}
.header__right {
  display: flex;
  justify-content: flex-end;
}
.header__right > a {
  color: #219653;
  margin-right: 4rem;
}
.header__right > p {
  position: relative;
  font-weight: 700;
  padding-left: 2.7rem;
}
.header__right > p::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.7rem;
  height: 1.7rem;
  background: url(../img/header/phone.svg) no-repeat center/1.7rem;
}

.work {
  background-color: #219653;
  padding-top: 6.7rem;
  padding-bottom: 6.7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #FFFFFF;
}
.work__title {
  font-size: 3.4rem;
  line-height: 5rem;
  padding-left: 2rem;
  margin-bottom: 4.6rem;
  position: relative;
  color: #FFFFFF;
}
.work__title::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 3.4rem;
  top: 51.5%;
  left: 0;
  transform: translate(0, -50%);
  background-color: #FFFFFF;
}
.work__block > p {
  margin-bottom: 1rem;
}
.work__block > h3 {
  margin: 6.1rem 0 7.6rem 0;
  font-size: 2.2rem;
  line-height: 3.3rem;
}
.work__block__card {
  display: flex;
  flex-wrap: wrap;
}
.work__block__card > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 22.2rem;
  height: 22.2rem;
  border-radius: 0.3rem;
  background-color: #27AE60;
}
.work__block__card > div:not(:nth-child(3n)) {
  margin-right: 1.8rem;
}
.work__block__card > div:nth-child(1)::before {
  content: "1";
  position: absolute;
  top: 1.5rem;
  right: 1.2rem;
  width: 1.2rem;
  height: 3rem;
  font-family: "Oswald";
  font-size: 2.2rem;
  color: #219653;
}
.work__block__card > div:nth-child(2)::before {
  content: "2";
  position: absolute;
  top: 1.5rem;
  right: 1.2rem;
  width: 1.2rem;
  height: 3rem;
  font-family: "Oswald";
  font-size: 2.2rem;
  color: #219653;
}
.work__block__card > div:nth-child(3)::before {
  content: "3";
  position: absolute;
  top: 1.5rem;
  right: 1.2rem;
  width: 1.2rem;
  height: 3rem;
  font-family: "Oswald";
  font-size: 2.2rem;
  color: #219653;
}
.work__block__card > div > p {
  width: 14rem;
  font-weight: 700;
  text-align: center;
}
.work__block__card__msg {
  width: 9.176rem;
  height: 9.176rem;
}
.work__block__card__msg__text {
  margin-top: 2.8rem;
}
.work__block__card__pocos {
  width: 7.92rem;
  height: 7.92rem;
}
.work__block__card__pocos__text {
  margin-top: 3.8rem;
}
.work__block__card__money {
  width: 8.8rem;
  height: 8.8rem;
}
.work__block__card__money__text {
  margin-top: 2.3rem;
}

.example {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
.example__wrap {
  position: relative;
}
.example__block {
  display: flex;
  flex-wrap: wrap;
  margin: 7.9rem 0 5.4rem 0;
}
.example__block__img__main {
  width: 46.4rem;
  height: 34.8rem;
}
.example__block__img__block {
  width: 46.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.7rem;
}
.example__block__img__block > img {
  width: 10.4rem;
  height: 100%;
}
.example__block__desc {
  width: 38.7rem;
  margin-left: 4.2rem;
}
.example__block__desc > h2 {
  margin-bottom: 2.7rem;
  font-size: 2.2rem;
  line-height: 2.8rem;
  text-transform: none;
}
.example__block__desc > ul {
  position: relative;
  margin-bottom: 7.4rem;
}
.example__block__desc > ul > li {
  margin-bottom: 1.3rem;
}
.example__block__desc > ul::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  bottom: -3.7rem;
  left: 0;
  background-color: rgba(145, 151, 147, 0.5);
}
.example__block__desc > p, .example__block__desc li {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.example__block__desc > p {
  margin-bottom: 2.1rem;
}
.example__block__desc > p > span {
  font-weight: 700;
  color: #219653;
}
.example__block__desc > p:nth-child(6) {
  margin-bottom: 7.4rem;
}
.example__block__desc > button {
  padding: 1.3rem 3.95rem;
}
.example > a {
  margin-top: 5.4rem;
}

.arrow {
  display: flex;
  align-items: center;
  position: absolute;
  right: -2.2rem;
  top: 3.2rem;
}
.arrow > a {
  text-decoration: none;
}
.arrow > a > img {
  width: 2.4rem;
}
.arrow > a > span {
  color: #919793;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.arrow-left > span {
  margin: 0 1.5rem 0 1.9rem;
}
.arrow-right > span {
  margin: 0 1.9rem 0 1.5rem;
}/*# sourceMappingURL=style.css.map */